node_modules
*.DS_Store
node_modules/
dist/
npm-debug.log
yarn.lock
yarn-error.log
build-debugger.js
docs/.vitepress/settings.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln


*.bak
*_bak